html, body, .container-fluid, .row-fluid, .row, .col-max-height {height:100%;}
body {font-size:12px; overflow-x:hidden;}
.container-fluid {padding-left:0px;}
thead tr th:last-child {text-align:center;}
tbody tr td:not(.metadata) {text-align:center; cursor:pointer;}
th {border-left:solid 1px #bbbbbb; background-color:#eeeeee;}
th:first-of-type {border-left:inherit;}
td {position:relative; background-color:white; overflow:hidden;}
td > div:not(.container) {white-space:nowrap; overflow:hidden; position:absolute; top:5px; left:-5px; border-left:solid 10px white;}
.header {height:50px; background-color:#444444; padding:0px 15px 0px 15px;}
.spreadsheet {padding-right:0px;}
tr.active td > div {border-color:#dff0d8;}
.collections {border-left:solid 1px #bbbbbb; background-color:white;}
.metadata {background-color:#eeeeee; text-align:center;}
.metadata .container {position:relative;}
.metadata div {border-left:0px;}