html, body, .container-fluid, .row-fluid, .row, .col-max-height {height:100%;}
body {font-size:12px; overflow-x:hidden;}
input[type=checkbox] {margin-top:2px; margin-right:12px; float:left;}
small {font-weight:normal;}
thead tr th:last-child {text-align:center;}
tbody tr td:not(.metadata) {text-align:center; cursor:pointer;}
th {border-left:solid 1px #bbbbbb; background-color:#eeeeee;}
th:first-of-type {border-left:inherit;}
td {position:relative; background-color:white; overflow:hidden;}
td > div:not(.container) {white-space:nowrap; overflow:hidden; position:absolute; top:5px; left:-5px; border-left:solid 10px white;}
.header {height:50px; background-color:#444444; padding:0px 15px 0px 15px;}
.spreadsheet {padding-right:0px; padding-left:0px; padding-bottom:25px;}
tr.active td > div {border-color:#dff0d8;}
.metadata {background-color:#eeeeee; text-align:center;}
.metadata .container {position:relative;}
.metadata div {border-left:0px;}
.archives {border-right:solid 1px #bbbbbb; background-color:white;}
.archives-content {margin-top:50px;}
.archives-content-center {text-align:center;}
.collections {border-left:solid 1px #bbbbbb; background-color:white;}
.btn-group-justified > .btn-sm {padding-top:7px; border-radius:0}
.btn-group-justified > .btn-two {width:50%;} /* not sure why this is needed to stretch the buttons */
#footer {position:fixed; width:100%; bottom:0; background-color:#dddddd; padding:8px 16px 8px 16px;}
.footer-center {text-align:center;}