html, body, .container-fluid, .col-max-height {height:100%;}
body {overflow-x:hidden;}
small {font-weight:normal;}
.form-group small {color:#777777; padding-left:8px;}
label {cursor:pointer;}
hr {height:1px;color:#bbbbbb;background-color:#bbbbbb;overflow:hidden;margin:8px 0px 15px 0px;border:0;}
a.btn-default, button.btn-default {color:#337ab7;}
.btn-group > .btn-primary + .dropdown-toggle {border-left-color:#cccccc;}
.btn-group .dropdown-menu-title {padding:3px 20px 3px 20px; font-weight:bold;}
.modal-footer a.btn-default, .modal-footer button.btn-default {color:#333;}
.alert {font-size:14px;}
.input-xs {height: 22px; padding: 5px 5px; font-size: 12px; line-height: 1.5; border-radius: 3px;}
.help-block {margin-top:0px; margin-bottom:8px;}
#loading {position:absolute;left:0;top:2px;right:0;z-index:99;text-align:center;display:none;}
#loading > div {width:150px; margin:0px auto 0px auto; text-align:center; background-color:#fff8af; padding:3px 0px 3px 0px; color:#000000; border:solid 1px #c3b94c; font-weight:normal; border-radius: 4px;}
#loading .a {font-size:smaller; color:#555555;}
.right-inner-addon {position:relative; z-index:1;}
.right-inner-addon input {padding-right:30px;}
.right-inner-addon a {position:absolute; right:0px; padding:10px 12px; text-decoration:none; z-index:9;}
.right-inner-addon a.two {position:absolute; right:20px; padding:10px 12px; text-decoration:none; z-index:9;}
.right-inner-addon a.three {position:absolute; right:43px; padding:10px 12px; text-decoration:none; z-index:9;}

/* Progress bar */
.progress {margin-top:0px; margin-bottom:16px;}
#progress_log {display:none; width:100%; margin-top:-10px; margin-bottom:10px; background-color:white; color:red; text-align:left; max-height:50px; overflow:auto;}
.progress-bar {text-align:left;}
.progress-bar span {padding-left:5px;}

/* Sidebar */
.sidebar {border-right:solid 1px #bbbbbb;}
#collections {background-color:white;}
#collections > div {margin:20px 0px 0px 0px;}
#filter_collections_form > div {display:table-cell; vertical-align:middle;}
#filter_collections_form > div:first-of-type {padding-right:6px;}
#filter_collections_form > div:last-of-type {padding-left:6px;}
#filter_collections_form button, #filter_collections_form input {height:30px; font-size:12px;}
#filter_collections_form .right-inner-addon a {padding-top:8px; font-size:12px;}
#collections_form {padding-top:14px; clear:both;}
#collections_form .notice {text-align:center; color:#555555; padding-top:8px; height:34px;}
.collection {
	min-height:32px; white-space:nowrap; overflow:hidden; padding:5px 0px 4px 2px; cursor:pointer; margin-bottom:4px; 
	border-radius: 4px;
}
.collection.clicked {background-color:#dddddd;}
.collection .color {
	width:32px; height:32px; display:inline-block; margin-right:8px; border:solid 1px #cccccc; float:left; 
	text-align:center; padding-top:5px; border-radius:4px;
}
.collection .color.dark {color:#aaaaaa;}
.collection .color.light {color:#444444;}
.collection .thumb {
	width:32px; height:32px; display:inline-block; margin-right:8px; border:solid 1px #eeeeee; float:left; 
	padding-top:5px; background-size:32px 32px; background-color:#eeeeee;
}
.collection .num_items {font-weight:normal; font-size:14px;}
.collection:hover {opacity:0.75;}
.collection h5 {margin:0px 3px 0px 0px; padding:0px 0px 0px 0px; overflow:hidden; font-weight:normal;}
.collection .desc {margin:0px 3px 0px 0px; padding:0px 0px 0px 0px; overflow:hidden;}
#sync_collections, #sync_destinations, #sync .modal-body > h4 {clear:both;}
#sync .modal-body > h4:last-of-type {padding-top:12px;}
#sync_collections .collection {padding-right:4px; padding-left:4px;}
#add_destination {clear:both; padding-top:6px;}
#add_destination .btn-group, #add_destination .form-group {margin-right:4px;}
#sync_destinations .close {position:absolute; top:1px; right:0px;}

/* Archives */
#archives {z-index:9; position:absolute; top:0px; right:0px; margin:20px 0px 20px 0px;}
#archives .btn-group {float:left; margin-right:12px;}
#archives .btn-group button:first-of-type {min-width:90px; text-align:left;}
#search_archives_form {float:left;}
#search_archives_form input {height:30px; font-size:12px;}
#search_archives_form > div {float:left; margin-right:6px;}
#search_archives_form > a {float:left; line-height:210%; display:none;}
#search_archives_form .right-inner-addon a {padding-top:8px; font-size:12px;}
#archives .container-fluid {
	clear:both; padding-top:14px; padding-left:0px; padding-right:0px; margin-left:-5px; margin-right:-5px;
}
#archives .archive {padding-left:0px; padding-right:0px;}
#archives .archive > div {
	margin-left:5px; margin-right:5px; margin-bottom:16px; height:initial; border:solid 1px #eeeeee; border-radius:5px;
	background-position:left; /* background-size:contain' */ background-size:44px auto; background-repeat:no-repeat;	cursor:pointer;
}
#archives .archive > div:hover {background-color:#eeeeee; border-color:#dddddd;}
#archives h5 {padding:5px 3px 0px 54px; margin:0px 0px 0px 0px; white-space:nowrap; overflow:hidden; line-height:100%;}
#archives .desc {padding:5px 3px 5px 54px; margin:0px 0px 0px 0px;}
#archives .desc > div {white-space:nowrap; overflow:hidden; line-height:100%;}
#profiles {}
#profiles > div {margin-top:0px; margin-bottom:12px; min-height:32px;}
#profiles > div:last-of-type {margin-bottom:0px;}
#profiles > div > * {float:left; margin-right:12px;}
#profiles > div > span {line-height:125%;}
#profiles > div > button:last-of-type {float:right; margin-right:0px; font-size:2.2em;}
#profile-file-info {border-left:0;}

/* Search */
#search {margin:18px 0px 0px 0px; display:none;}
#search_close_circle {position:absolute; right:19px; top:-5px; border-radius:50%; width:30px; height:30px; background-color:#eeeeee; cursor:pointer;}
#search_close {float:right; cursor:pointer; display:inline-block; margin-right:10px; font-size:larger; /* color:#2e6da4; */ color:#666666;}
#search_close:hover {text-decoration:none;}
#search_form {float:left; margin:0px 10px 0px 0px; width:250px; position:relative;}
#search_view {float:left; margin:2px 10px 0px 0px;}
#import_to {float:left; margin:2px 0px 0px 0px;}
#visit_archive {float:left; margin:9px 0px 0px 14px; font-size:12px;}
#search_pagination {float:left; margin:6px 0px 0px 0px;}
#search_results {clear:both;}

/* Collection */
#collection {margin:0px 0px 0px 0px; padding-top:18px; display:none; min-height:200px;}
#collection_close_circle {position:absolute; right:19px; top:12px; border-radius:50%; width:30px; height:30px; background-color:#eeeeee; cursor:pointer;}
#collection_close {float:right; cursor:pointer; display:inline-block; margin-right:10px; font-size:larger; /* color:#2e6da4; */ color:#666666;}
#collection_close:hover {text-decoration:none;}
#collection_form {float:left; margin:0px 10px 0px 0px; min-width:250px;}
#collection_form .right-inner-addon input:first-of-type {height:30px; font-size:12px; margin-top:2px;}
#collection_form .right-inner-addon a {font-size:12px; padding-top:8px;}
#collection_view {float:left; margin:2px 10px 0px 0px;}
#move_to {float:left; margin:2px 0px 0px 0px;}
#collection_pagination {float:left; margin:6px 0px 0px 0px;}
#collection_results {clear:both;}
#edit_metadata .img-thumbnail {max-width:100px; margin-top:2px;}
#edit_metadata .visit_link {margin:2px 0px 0px 14px; font-size:12px;}

/* Table */
.list_view {margin-left:2px; margin-right:2px; padding-top:8px;}
thead tr th:last-child {text-align:center;}
tbody tr td:not(.metadata) {text-align:center; cursor:pointer;}
th {border-left:solid 1px #bbbbbb; background-color:#eeeeee; font-weight:normal !important;}
th:first-of-type {border-left:inherit;}
td {position:relative;}
td div {width:100%; overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
td.metadata div {white-space: normal;}
td, th {background-clip: padding-box; /* <-- So borders display in FF */ border-top:0 !important; border-bottom:solid 1px #ddd !important;}  /* Overwrite Bootstrap defaults */
tr .title {font-weight:bold;}
tr.clicked td {background-color:#decccc !important;}
td > div:not(.container) {white-space:nowrap; overflow:hidden; position:absolute; top:5px; left:5px; right:5px; text-align:left;}
table input[type=checkbox] {margin-top:2px; margin-right:12px; float:left;}
tr.static:hover td {background-color:initial !important; color:#333 !important;}

/* Tiles */
.tiles {padding-top:12px; padding-bottom:30px; margin-left:-12px; margin-right:-12px;}
.tile {width:200px; padding:4px; margin:5px 10px 10px 10px; float:left; position:relative; cursor:pointer;}
.tile.clicked {}
.tile > .clicked_layer {
	position:absolute; left:-8px; top:-8px; width:216px; background-color:#decccc; z-index:0; height:102%;
	border:solid 2px #999999; border-radius: 5px;
}
.tile > .img_wrapper {position:relative; z-index:1; width:192px; height:130px; margin-bottom:8px;}
.tile > .img_wrapper > img {
	width:100%; 
	position: absolute; /* absolute or fixed positioning required for clip */
	z-index:1;
    clip: rect(0px, 192px, 130px, 0px);
}
.tile > .title {width:192px; overflow:hidden; font-size:12px; margin-bottom:5px; font-weight:bold; position:relative; z-index:1;}
.tile > .source {display:none; font-size:12px; margin-bottom:1px; font-weight:normal; position:relative; z-index:1;}
.tile > .url {font-size:12px; margin-bottom:5px; height:15px; width:200px; overflow:hidden; position:relative; z-index:1;}
.tile > .desc {font-size:12px; position:relative; z-index:1;}

/* Details */
.details {padding-bottom:40px; margin-left:-12px; margin-right:-12px;}
.details > .detail {padding-top:20px; border-bottom:solid 1px #bbbbbb; padding-bottom:16px; cursor:pointer;}
.detail.clicked {background-color:#decccc;}
.details .dcterms-title {margin-bottom:4px;}
.details .dcterms-title .value {font-weight: bold;}
.details .thumb {cursor:pointer;}
.details .thumb img {width:100%;}
.details input[type="checkbox"] {position:absolute; top:3px; left:19px;}

/* Icons */
.icons {padding-bottom:40px; cursor:pointer; margin-left:-23px; margin-right:-23px;}
.icons > .row {width:85px; margin:20px 10px 0px 10px; float:left; position:relative;}
.icons > .row.clicked {}
.icons > .row > .clicked_layer {
	position:absolute; left:-8px; top:-8px; width:101px; background-color:#decccc; z-index:0; height:110%;
	border:solid 2px #999999; border-radius: 5px;
}
.icons_row_checked {background-color:#dddddd;}
.icons .source {display:none; font-size:9px; margin-bottom:2px; position:relative; z-index:1}
.icons .url {font-size:10px; margin-bottom:2px; width:85px; overflow:hidden; height:11px; position:relative; z-index:1}
.icons .title {font-size:10px; width:85px; overflow:hidden; position:relative; z-index:1}
.icons .icon_cell {width:85px; height:66px; position:relative; z-index:1}
.icons .icon_cell img {
    width:85px; height:63px;
	position: absolute; /* absolute or fixed positioning required for clip */
    clip: rect(0px, 85px, 63px, 0px);
}

/* Modals */
#error .modal-body {background-color:#ffdbdb;}
#error .modal-header, #error .modal-footer {border-color:#ff4b4b;}
.more_profile_options {display:none;}