html, body, .container-fluid, .col-max-height {height:100%;}
body {font-size:12px; overflow-x:hidden;}
small {font-weight:normal;}
label {cursor:pointer;}
hr {height:1px;color:#bbbbbb;background-color:#bbbbbb;overflow:hidden;margin:8px 0px 15px 0px;border:0;}
.input-xs {height: 22px; padding: 5px 5px; font-size: 12px; line-height: 1.5; border-radius: 3px;}
#loading {position:absolute;left:0;top:2px;right:0;z-index:9;text-align:center;display:none;}
#loading > div {width:100px; margin:0px auto 0px auto; text-align:center; background-color:#fff8af; padding:3px 0px 3px 0px; color:#000000; border:solid 1px #c3b94c; font-weight:normal;}
#loading .a {font-size:smaller; color:#555555;}
.right-inner-addon {position:relative; z-index:1;}
.right-inner-addon input {padding-right:30px;}
.right-inner-addon a {position:absolute; right:0px; padding:10px 12px; text-decoration:none; z-index:9;}
/* Icons */
.critical-commons-icon {display:inline-block; width:150px; height:32px; background-color:white; padding:0px 4px 0px 4px; background-image:url(images/criticalcommons.logo.png); background-repeat:no-repeat; background-size:100%;}
.internet-archive-icon {display:inline-block; width:57px; height:32px; background-color:white; padding:0px 4px 0px 4px; background-image:url(images/internetarchive.logo.png); background-repeat:no-repeat; background-size:100%;}
.youtube-icon {display:inline-block; width:75px; height:32px; background-color:white; padding:0px 4px 0px 4px; background-image:url(images/youtube.logo.png); background-repeat:no-repeat; background-size:100%;}
.icon {position:absolute;top:0;left:0;}

/* Teaser */
.teaser {height:200px; overflow:hidden;text-align:center; display:none;}
.teaser > div {padding-left:0px; padding-right:0px; background-color:#eeeeee;}
.teaser .carousel-inner .item {height:200px; background-size:100%; background-repeat:no-repeat; background-position:center 35%;}
.teaser .slide-caption {
	white-space:normal; overflow:hidden; text-align:left; padding-bottom:10px; padding-top:5px; 
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 1); background:rgba(0,0,0,0.25);position:absolute;bottom:0;left:0;width:100%;
}
.teaser .slide-caption h4 {margin-top:0px; margin-bottom:0px; font-family:Helvetica;padding: 0 5%;color:white;}
.teaser .slide-caption h4 > span {padding-left:8px; color:#eee;float:right;}
/*.teaser .slide-caption .icon {float:left; margin:4px 10px 4px 0px;}*/
.teaser .carousel-inner {z-index:1;}
.teaser .carousel-control {z-index:8;}
.teaser .carousel-control .glyphicon-chevron-right {right:40%;}
.teaser .carousel-control .glyphicon-chevron-left {left:40%;}
.slide-item {width:400px;height:200px;position:relative;display:inline-block;vertical-align:top;background-size:cover;}

/* Sheet */
.sheet {border-top:solid 1px #bbbbbb;}
#welcome_msg {text-align:center; font-weight:normal; font-size:14px; color:#666666; line-height:150%; padding-top:55px;}
.search {border-right:solid 1px #bbbbbb; background-color:white;}
.search > div {margin:20px 0px 20px 0px;}
.search .advanced {color:#555555; font-weight:bold; margin:10px 0px 0px 0px;}
.search .advanced a {float:right; font-weight:normal;}
#searchable_form, #findable_form {
	text-align:left; margin:0px 0px 0px 0px; padding:8px 0px 20px 0px; border:solid 1px white;
	border-radius:5px; clear:both;
}
#searchable_form.hl, #findable_form.hl {border:solid 1px yellow;}
#find_archives_form {padding-top:10px;}
.search .notice {text-align:center; color:#555555; padding-top:8px; height:42px;}
form.bg-danger {border:1px solid #ed9191; border-radius: 3px;}
.spreadsheet {padding-right:0px; padding-left:0px; padding-bottom:25px;}
#manage_archives, #advanced_search {background-color:#eeeeee; position:absolute; top:0px; left:0px; right:0px; display:none; z-index:9;}
#advanced_search {padding:20px 20px 20px 20px; width:100%;}
#manage_archives .close_btn, #advanced_search .close_btn {float:right; top:0px; right:15px; font-size:16px; cursor:pointer;}
#advanced_form {margin-right:30px; display:table; width:90%;}
#advanced_form .tr {display:table-row; font-size:14px;}
#advanced_form .field, #advanced_form .value {padding:0px 8px 8px 8px; vertical-align:middle;}
#advanced_form .field {display:table-cell; white-space:nowrap; width:30%; text-align:center;}
#advanced_form .value {display:table-cell; width:70%;}
#advanced_form .btn-primary {float:right; margin:10px 0px 0px 0px;}
#advanced_form .add {margin-top:10px;}
.manage{display:none;border-left:solid 1px #bbbbbb; background-color:white;}
#manage_archives {padding:22px 20px 20px 20px;}
#managable_form {margin:20px 0px 20px 0px;}
#managable_form .archive {
	width:400px; float:left; margin:0px 20px 20px 0px; padding-top:5px; padding-bottom:5px; 
	background-position:left 5px; height:initial; border:solid 1px #eeeeee;
}
#managable_form .active {background-color:#dddddd; border:solid 1px #cccccc;}

/* Footer */
#footer {position:fixed; width:100%; bottom:0; background-color:#dddddd; padding:8px 16px 8px 16px; border-top:solid 1px #bbbbbb;}
.footer-center {text-align:center;}
.page {color:#1e4d74; cursor:pointer; font-weight:normal;}
.page {display:inline-block; margin-top:2px; visibility:hidden;}
.page.prev-page {float:left; margin-right:16px;}
.page.next-page {margin-left:16px;}
.view-buttons {}
.view-buttons button {padding-left:5px; padding-right:6px;}
.view-buttons img {float:left; margin-top:1px; margin-right:6px;}
.left-buttons {position:absolute; left:10px; bottom:8px;}
.right-buttons {position:absolute; right:10px; bottom:8px;}

/* Archive element */
.archive {
	min-height:32px; padding-left:40px; white-space:nowrap; overflow:hidden; padding-top:1px; cursor:pointer; margin-bottom:8px; 
	background-size:32px 32px; background-repeat:no-repeat; background-position:left top;
}
.archive:hover {opacity:0.75;}
.archive h5 {margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;}
.archive-critical-commons {background-image:url(images/criticalcommons.thumb.png);}
.archive-internet-archive {background-image:url(images/internetarchive.thumb.png);}
.archive-youtube {background-image:url(images/youtube.thumb.png);}
.archive-vimeo {background-image:url(images/vimeo.thumb.png);}

/* Table */
thead tr th:last-child {text-align:center;}
tbody tr td:not(.metadata) {text-align:center; cursor:pointer;}
th {border-left:solid 1px #bbbbbb; background-color:#eeeeee;}
th:first-of-type {border-left:inherit;}
td {position:relative; background-color:white;}
td div {width:100%; overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
td.metadata div {white-space: normal;}
td, th {background-clip: padding-box; /* <-- So borders display in FF */ border-top:0 !important; border-bottom:solid 1px #ddd !important;}  /* Overwrite Bootstrap defaults */
tr .title {font-weight:bold;}
tr.active td > div {border-color:#dff0d8;}
td > div:not(.container) {white-space:nowrap; overflow:hidden; position:absolute; top:5px; left:5px; right:5px; text-align:left;}
table input[type=checkbox] {margin-top:2px; margin-right:12px; float:left;}

/* Tiles */
.tiles {margin-top:10px; margin-bottom:20px;}
.tile {width:200px; padding:4px; margin:0px 10px 0px 10px; float:left; position:relative; cursor:pointer;}
.tile_checked {background-color:#dddddd;}
.tile > .img_wrapper {width:192px; height:130px;}
.tile > .img_wrapper > img {
	width:100%; 
	position: absolute; /* absolute or fixed positioning required for clip */
    clip: rect(0px, 192px, 130px, 0px);
}
.tile > h6 {padding:0px 0px 0px 0px;}
.tile > h6 .title {margin-bottom:5px;font-weight:bold;max-height: 40px;
	text-overflow: ellipsis;display: -webkit-box;ellipsis;overflow: hidden;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.tile > h6 .source, .tile > h6 .contrib {}
.tile > h6 > .resource {width:100%; overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.tile > input[type="checkbox"] {position:absolute; top:3px; left:9px;}

/* Details */
.details {padding-bottom:40px;}
.details > .row {padding-top:20px; border-bottom:solid 1px #bbbbbb; padding-bottom:16px;}
.details_row_checked {background-color:#dddddd;}
.details .dcterms-title {margin-bottom:4px;}
.details .dcterms-title .value {font-weight: bold;}
.details .thumb {cursor:pointer;}
.details .thumb img {width:100%;}
.details input[type="checkbox"] {position:absolute; top:3px; left:19px;}

/* Icons */
.icons {padding-bottom:40px;}
.icons > .row {width:85px; margin:20px 10px 0px 10px; float:left; position:relative;}
.icons_row_checked {background-color:#dddddd;}
.icons .title {font-size:10px;}
.icons .icon_cell {cursor:pointer; width:85px; height:66px;}
.icons .icon_cell img {
    width:85px; height:63px;
	position: absolute; /* absolute or fixed positioning required for clip */
    clip: rect(0px, 85px, 63px, 0px);
}

/* Modals */
#error .modal-body {background-color:#ffdbdb;}
#error .modal-header, #error .modal-footer {border-color:#ff4b4b;}