html, body, .container-fluid, .row-fluid, .row, .col-max-height {height:100%;}
body {font-size:12px; overflow-x:hidden;}
input[type=checkbox] {margin-top:2px; margin-right:12px; float:left;}
small {font-weight:normal;}
#loading {position:absolute;left:0;top:2px;right:0;z-index:9;text-align:center;display:none;}
#loading > div {width:100px; margin:0px auto 0px auto; text-align:center; background-color:#fff8af; padding:3px 0px 3px 0px; color:#000000; border:solid 1px #c3b94c; font-weight:bold;}
thead tr th:last-child {text-align:center;}
tbody tr td:not(.metadata) {text-align:center; cursor:pointer;}
th {border-left:solid 1px #bbbbbb; background-color:#eeeeee;}
th:first-of-type {border-left:inherit;}
td {position:relative; background-color:white; overflow:hidden; height:26px;}
td > div:not(.container) {white-space:nowrap; overflow:hidden; position:absolute; top:5px; left:5px; right:5px; text-align:left;}
.header {height:50px; background-color:#444444; padding:0px 15px 0px 15px;}
#search {margin-bottom:12px;}
.spreadsheet {padding-right:0px; padding-left:0px; padding-bottom:25px;}
tr.active td > div {border-color:#dff0d8;}
.metadata {background-color:#eeeeee; text-align:center;}
.metadata .container {position:relative;}
.metadata div {border-left:0px;}
.archives {border-right:solid 1px #bbbbbb; background-color:white;}
.archives-content {margin-top:50px;}
.archives-content-center {text-align:center;}
.collections {border-left:solid 1px #bbbbbb; background-color:white;}
.btn-group-justified > .btn-sm {padding-top:8px; border-radius:0}
.btn-group-justified > .btn-two {width:50%;} /* not sure why this is needed to stretch the buttons */
#footer {position:fixed; width:100%; bottom:0; background-color:#dddddd; padding:8px 16px 8px 16px;}
.footer-center {text-align:center;}
label[data-unsupported="1"] {color:#aaaaaa;}
/* Modals */
#error .modal-body {background-color:#ffdbdb;}
#error .modal-header, #error .modal-footer {border-color:#ff4b4b;}